/* Estilizando o cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A3D2CA;
    padding: 10px 20px;
    position: relative;
    margin-bottom: 20px;  /* Isso ajuda a garantir que o conteúdo não seja sobreposto */
}

/* Estilizando o menu */
nav {
    display: none;  /* Oculta o menu no mobile por padrão */
    flex-direction: column;
    background-color: #66B3B4;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 9999; /* Garante que o menu fique acima do conteúdo */
    padding: 10px 0;
    margin-top: 10px; /* Adiciona espaçamento no topo */
}

body.menu-open {
    padding-top: 60px; /* Empurra o conteúdo para baixo quando o menu é aberto */
}

nav a {
    color: black;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav a:hover {
    background-color: #ff6f61;
    color: black;
}

nav.open {
    display: flex;
}

.hamburger {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
    }

    nav a {
        padding: 10px 15px;
    }
}
body {
    background-color: #E4F5F2;
}
button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333333; 
}
@media (max-width: 768px) {
    /* Esconde o menu inicialmente no mobile */
    nav.hidden {
        display: none;
    }

    /* Quando o menu está aberto */
    nav.open {
        display: flex;
    }
}
footer{
    background-color:#66B3B4; 
}

