
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A3D2CA;
    padding: 10px 20px;
    position: relative;
}


nav {
    display: none;  
    flex-direction: column;
    background-color: #A3D2CA;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 9999; 
    padding: 10px 0;
    margin-top: 10px; 
}

nav a {
    color: black;
    text-decoration: none;
    padding: 10px;
    display: block;
}

nav a:hover {
    background-color: #819b97;
    color: black;
}


nav.open {
    display: flex;
}


.hamburger {
    font-size: 24px;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    padding: 10px;
}


@media (min-width: 768px) {
    .hamburger {
        display: none;  
    }

    nav {
        display: flex;
        flex-direction: row; 
        position: static; 
        background: none; 
    }

    nav a {
        padding: 10px 15px;
    }
}


body {
    background-color: #E4F5F2;
}

button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333333;
}

header h1 {
    white-space: nowrap; 

    text-overflow: ellipsis; 
}


@media (max-width: 768px) {
    
    nav.hidden {
        display: none;
    }

    
    nav.open {
        display: flex;
    }
}

.temple-grid figure {
    background: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  }
  .temple-grid img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px; 
}

footer {
    background-color: #66B3B4;
    text-align: center;
    padding: 20px;
    color: black;
}
